@{
    ViewData["Title"] = "End";
}

<div class="container container-main">
    <div class="jumbotron">
        <h2 id="index-page-h2">DONE!</h2>
        <p id="index-page-p1">
            Thank you for your participation!
            <br>
        </p>
        <p id="start-register-buttons">
            <a asp-controller="Home" asp-action="Index" class="btn btn-default btn-lg" role="button">Back to Home Page</a>
        </p>
    </div>
</div>